<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') %>
  <link href='/css/estilos.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/app.css">;
  <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito</title>
</head>

<body>
  <%- include ('../partials/header') %>
  <img src="/img/banner_electrodomesticos.png" width="100%">
  <section class="categorias">
    <nav>
       <div>Tv, video y audio</div>
       <div>Tecnologia y celulares</div>
       <div>Climatización</div>
       <div>Electrohogar</div>
       <div>Cuidado Personal</div>
    </nav>
  </section>
    <div class="titulo-carrito"><h2 class="miCarrito">Mi Carrito</h2></div>
    <div class="container">
      
        <div class="detalleCompra">
          <div class="imgDescripcion">
            <img src="/img/lavarropa_carrito.jpg" alt="lavarropa">
            <h4>LAVARROPAS AUTOMATICO WHIRLPOOL - WLF80AB 8 BLANCO</h4>
          </div>
          <div class="importes">
            <article>
              <h4>LISTA:</h4>
              <h5>$75.000</h5>
            </article>
            <article>
              <h4>EFECTIVO:</h4>
              <h5>$68.000</h5>
            </article>  
           <div class="unidades-eliminar">
            <article>
              <h4>UNIDADES:</h4>
              <select name="unidades">
                <option value="valor_1">1 unidad</option>
                <option value="valor_2">2 unidades</option>
                <option value="valor_3">3 unidades</option>
                <option value="valor_4">4 unidades</option>
                <option value="valor_5">5 unidades</option>
              </select>
            </article>
            <article class="tachitoBasura"> 
              <i class="far fa-trash-alt"></i>
            </article>
           </div>
          </div>
        </div>
        <div class="pagoCompra">
            <div class="subtotal">
              <div>Subtotal pagando con MercadoPago:</div>
              <div class="monto">$75.000</div>
            </div>
            <div class="subtotal">
              <div>Subtotal pagando con Transferencia Bancaria: </div>
              <div class="monto">$68.000</div>
            </div>  
            <input class="comprar" type="button" value="COMPRAR">
        </div>
    </div>
</body>
<%- include ('../partials/footer') %>