<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Secador de Pelo Teknikpro</title>
</head>
<%- include ('../partials/header') %>
<img src="/img/banner_electrodomesticos.png" width="100%">
<section class="categorias">
    <nav>
       <div>Tv,video y audio</div>
       <div>Tecnologia y celulares</div>
       <div>Climatización</div>
       <div>Electrohogar</div>
       <div>Cuidado Personal</div>
    </nav>
</section>
<form action="/resultado.html" method="post">
   <div class="select-cat">
       <select name="mes" id="mes" class="cat">
           <option value="1">CATEGORIAS</option>
           <option value="2">TV, Audio y Video</option>
           <option value="3">Tecnologia y celulares</option>
           <option value="4">Climatización</option>
           <option value="5">Electrohogar</option>
           <option value="6">Cuidado Personal</option>
           
       </select>
   </div>
</form>
<body>
    <article class="art-producto">
        <h3 class="titulo-producto">SECADOR DE PELO FULL TECNOLOGI 5000 TEKNIKPRO</h3>
        <section class="datos">
            <div><img src="/img/SecadorOferta.jpg" width="70%"></div>
            <div>
                <div class="producto">SECADOR DE PELO FULL TECNOLOGI 5000 TEKNIKPRO</div>
                <div class="precio">$7000</div>
                <div class="medios-pago"> Ver medios de pago y cuotas</div>
                <div class="envio">Costo de envio</div>
                <button class="carrito" type="submit">AGREGAR AL CARRITO</button>
            </div>

            

        </section>
        <br><br>
        <section class="descripcion">
            <div>Caracteristicas:</div>
            <ul>
                <li>Su exclusiva tecnología NANO TOURMALINE brinda a la fibra capilar el cuidado más destacado ya que previene que el cabello se debilite a causa del extremo calor.</li>
                <li>Diseño ergonómico</li>
                <li>Potente motor importado de 2200w</li>
                <li>2 Velocidades</li>
                <li>3 Temperaturas</li>
                <li>Incluye Boton cool shot( boton de aire frío)</li>
                <li>Con difusor y 2 boquillas de modelado</li>
            </ul>
        </section>
    </article>
</body>
</html>
<%- include ('../partials/footer') %>