<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumiere</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link href='/css/estilos.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<meta name="viewport"content="width=device-width,initial-scale=1">
</head>
<body>
    <header>
        <div class=logo><img class=logo src= '\img\logo-lumiere.jpeg' alt='logo-mercado-liebre'></div>
            <div class="topnav">
                <input type="text" placeholder="Buscar productos, marcas"> <i class="fas fa-search"></i>
            </div>
        <div>
            <nav>
             <ul class = "sitio">
                <div><li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li></div>
                <div><li><a href='/registrate'>Registrate <i class="far fa-id-card"></i></a></li></div>
                <div><li><a href='#'>Carrito<i class="fas fa-shopping-cart"></i></a></li></div>
            </ul>
            </nav>
        </div>
    </header>
    <img src="/img/banner_electrodomesticos.png" width="100%">
     <main>
         <section class="categorias">
             <nav>
                <div>Tv,video y audio</div>
                <div>Tecnologia y celulares</div>
                <div>Climatización</div>
                <div>Electrohogar</div>
                <div>Cuidado Personal</div>
             </nav>
             
         </section>
        <div class="cartel-ofertas"><h2>OFERTAS</h2></div>
        <section class = "ofertas">
         <a href='/productdetail'>
            <article> 
                <img src='\img\SecadorOferta.jpg' alt = 'Imagen-de-secador' width="40%">
                <div class="main-article">
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <p class = "precio">$8.500,00</p>
                <p class = "descuentos">20% OFF</p>
                </div>
                <p class = "descripcion">SECADOR DE PELO TEKNIKPRO Con nano Turmaline</p>
            </div>
            </article>
         </a>
        <article>
            <img src='\img\Difusor.jppg.jpg' alt = 'Imagen-de-difusor'>
            <div class="main-article">
            <div class="datos-producto">
            <i class='fas fa-truck'></i>
            <p class = "precio">$3.500,00</p>
            <p class = "descuentos">45% OFF</p>
            </div>
            <p class = "descripcion">Difusor Ultrasonico 300ml GADNIC</p>
        </div>
       </article>
       <article>
            <img src='\img\AspiradoraOferta.jpg' alt = 'Imagen-de-aspiradora-electrolux'>
            <div class="main-article">
            <div class="datos-producto">
            <i class='fas fa-truck'></i>
            <p class = "precio">$25.500</p>
            <p class = "descuentos">15% off</p>
            </div>
            <p class = "descripcion">Aspiradora Inalámbrica Electrolux 2 en 1 120W ERG26</p>
            </div>
       </article>
       <article>
            <img src='\img\TelevisorOferta.jpg' alt = 'Imagen-de-televisor'>
            <div class="main-article">
            <div class="datos-producto">
            <i class='fas fa-truck'></i>
            <p class = "precio">$23.200</p>
            <p class = "descuentos">5% off</p>
            </div>
            <p class = "descripcion">Smart TV Samsung Series 7 UN50TU7000GCZB LED 4K 50" 220V - 240V</p>
        </div>
       </article>
</section>
    </main>
</body>
<footer>
</footer>
</html>