<!DOCTYPE html>
<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumiere</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link href='/css/estilos.css' rel='stylesheet'>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<meta name="viewport"content="width=device-width,initial-scale=1">
</head>
<body>
    <header>
            <div class="logo"><img class="logo" src="\img\Logo-Lumiere.jpg" alt="logo"></div>
            <div class="topnav">
                <input type="text" placeholder="Buscar productos, marcas"> <i class="fas fa-search"></i>
            </div>
            <div>
                <nav>
                    <ul class="sitio">
                        <div><li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li></div>
                        <div><li><a href='/registrate'>Registrate <i class="far fa-id-card"></i></a></li></div>
                        <div><li><a href='/productcart'>Carrito<i class="fas fa-shopping-cart"></i></a></li></div>
                    </ul>
                </nav>
            </div>
    </header>
    <img src="/img/banner_electrodomesticos.png" width="100%">
     <main>
        <section class="categorias">
             <nav>
                <div>Tv,video y audio</div>
                <div>Tecnologia y celulares</div>
                <div>Climatización</div>
                <div>Electrohogar</div>
                <div>Cuidado Personal</div>
             </nav>
        </section>
        <form action="/resultado.html" method="post">
            <div class="select-cat">
                <select name="mes" id="mes" class="cat">
                    <option value="1">CATEGORIAS</option>
                    <option value="2">TV, Audio y Video</option>
                    <option value="3">Tecnologia y celulares</option>
                    <option value="4">Climatización</option>
                    <option value="5">Electrohogar</option>
                    <option value="6">Cuidado Personal</option>
                    
                </select>
            </div>
        </form>
        <div class="cartel-ofertas"><h2>OFERTAS</h2></div>
    <section class = "ofertas">
        <article class="oferta1"> 
            <a href="/productdetail">
                <div><img src='\img\SecadorOferta.jpg' alt = 'Imagen-de-secador' width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$8.500</p>
                    <p class = "descuentos">20% OFF</p>
                </div>
            
                <div class = "descripcion">SECADOR DE PELO TEKNIKPRO Con nano Turmaline</div>
                 </div>
            </a>
            
        </article>
        <article class="oferta2">
            <a href="#">
                <div><img src='\img\DifusorOferta.jpg' alt = 'Imagen-de-difusor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$3.500</p>
                    <p class = "descuentos">45% OFF</p>
                </div>
                <div class = "descripcion">Difusor Ultrasonico 300ml GADNIC</div>
                </div>
            </a>
       </article>
       <article class="oferta3">
            <a href="#">
                <div><img src='\img\AspiradoraOferta.jpg' alt = 'Imagen-de-aspiradora-electrolux'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$25.500</p>
                    <p class = "descuentos">15% off</p>
                </div>
                <div class = "descripcion">Aspiradora Inalámbrica Electrolux 2 en 1 120W ERG26 </div>
                </div>
            </a>
       </article>
       <article class="oferta4">
            <a href="#">
                <div><img src='\img\TelevisorOferta.jpg' alt = 'Imagen-de-televisor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$23.200</p>
                    <p class = "descuentos">5% off</p>
                </div>
            </div>
            <div class = "descripcion">Smart TV Samsung Series 7 UN50TU7000GCZB LED 4K 50" 220V - 240V</div>
        </div>
            </a>
       </article>
    </section>
    <div class="cartel-destacados"><h2>DESTACADOS</h2></div>
    <section class = "ofertas">
        <article class="oferta1"> 
            <a href="/productdetail">
                <div><img src='\img\SecadorOferta.jpg' alt = 'Imagen-de-secador' width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$8.500</p>
                    <p class = "descuentos">20% OFF</p>
                </div>
            
                <div class = "descripcion">SECADOR DE PELO TEKNIKPRO Con nano Turmaline</div>
                 </div>
            </a>
            
        </article>
        <article class="oferta2">
            <a href="#">
                <div><img src='\img\DifusorOferta.jpg' alt = 'Imagen-de-difusor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$3.500</p>
                    <p class = "descuentos">45% OFF</p>
                </div>
                <div class = "descripcion">Difusor Ultrasonico 300ml GADNIC</div>
                </div>
            </a>
       </article>
       <article class="oferta3">
            <a href="#">
                <div><img src='\img\AspiradoraOferta.jpg' alt = 'Imagen-de-aspiradora-electrolux'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$25.500</p>
                    <p class = "descuentos">15% off</p>
                </div>
                <div class = "descripcion">Aspiradora Inalámbrica Electrolux 2 en 1 120W ERG26 </div>
                </div>
            </a>
       </article>
       <article class="oferta4">
            <a href="#">
                <div><img src='\img\TelevisorOferta.jpg' alt = 'Imagen-de-televisor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$23.200</p>
                    <p class = "descuentos">5% off</p>
                </div>
            </div>
            <div class = "descripcion">Smart TV Samsung Series 7 UN50TU7000GCZB LED 4K 50" 220V - 240V</div>
        </div>
            </a>
       </article>
    </section>
    </main>
</body>
<footer>
    <section>
        <article>
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class = "footer-pagos">En la tienda online de Lumiere tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.000</h3>
            <p class = "footer-envio">Solo por estar registrad@ en Lumiere tenés envíos gratis en miles de 
                productos. Es un beneficio de los puntos L.</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class = "footer-seguridad">¿No te gusta? ¡Devolvelo! En Lumiere, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    </section>
    <h4 class = "textoLegales">Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online y los planes de financiación para los productos presentados/publicados en www.lumiere.com son válidos exclusivamente para la compra vía internet en la página antes mencionada. Las especificaciones técnicas y descripciones están sujetas a cambios sin previo aviso.
    </h4> 
    <h3 class = "copyright">Copyright © 1999-2020 Lumiere S.R.L.</h3>
</footer>