<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secadro de Pelo Teknikpro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <article>
        <h3>SECADOR DE PELO FULL TECNOLOGI 5000 TEKNIKPRO</h3>
        <section class="datos">
            <div><img src="/img/SecadorOferta.jpg" width="70%"></div>
            <div>
                <div class="producto">SECADOR DE PELO FULL TECNOLOGI 5000 TEKNIKPRO</div>
                <div class="precio">$7000</div>
                <div class="medios-pago"> Ver medios de pago y cuotas</div>
                <div class="envio">Costo de envio</div>
                <button class="carrito" type="submit">AGREGAR AL CARRITO</button>
            </div>

            

        </section>
        <br><br>
        <section class="descripcion">
            <div>Caracteristicas:</div>
            <ul>
                <li>Su exclusiva tecnología NANO TOURMALINE brinda a la fibra capilar el cuidado más destacado ya que previene que el cabello se debilite a causa del extremo calor.</li>
                <li>Diseño ergonómico</li>
                <li>Potente motor importado de 2200w</li>
                <li>2 Velocidades</li>
                <li>3 Temperaturas</li>
                <li>Incluye Boton cool shot( boton de aire frío)</li>
                <li>Con difusor y 2 boquillas de modelado</li>
            </ul>
        </section>
    </article>
</body>
</html>