<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registrate.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section>
        <form action= "/" method="post">
            <div><label for= nombre-completo>Ingrese su email:</label></div>
            <div><input type= "email" id=email name="email"></div><br><br>

            <div><label for= nombre-completo>Ingrese su nombre completo:</label></div>
            <div><input type= "text" id=nombre-completo name="nombre-completo"></div><br><br>
        
            <div><label for= usuario>Ingrese usuario:</label></div>
            <div><input type= "text" id=usuario name="usuario"></div><br><br>
        
            <label>Ingrese su fecha de nacimiento:</label>
            <input type= "date" id=fecha name="Fecha-De-Nacimiento"><br><br>
        
            <label for= domicilio>Ingrese su domicilio:</label>
            <input type= "text" id=domicilio name="domicilio"><br><br>
            
            <label>¿Cuales son sus categorias de interes?</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Tecnologia"><label>Tecnologia</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Beauty"><label>Beauty</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Vida Diaria"><label>Vida Diaria</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Limpieza"><label>Limpieza</label><br><br>
        
            <label>Seleccionar una imagen para el perfil:</label>
            <input type="file" name="fotoDePerfil" accept=".jpg"><br><br>
        
            <label for= contraceña>Ingrese su contraceña</label>
            <input type= "password" id=contraceña name="contraceña"><br><br>
        
            <label for= ConfirmarContraceña>Confirme su contraceña</label>
            <input type= "password" id=ConfirmarContraceña name="ConfirmarContraceña"><br><br>
        
            <button type="reset">Borrar Todo</button>
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>
        
