<form action= "/" method="post">
            <label for= nombre-completo>Ingrese su nombre completo</label>
            <input type= "text" id=nombre-completo name="nombre-completo"><br><br>
        
            <label for= usuario>Ingrese usuario</label>
            <input type= "text" id=usuario name="usuario"><br><br>
        
            <label>Ingrese su fecha de nacimiento</label>
            <input type= "date" id=fecha name="Fecha-De-Nacimiento"><br><br>
        
            <label for= domicilio>Ingrese su domicilio</label>
            <input type= "text" id=domicilio name="domicilio"><br><br>
            
            <label>¿Cuales son sus categorias de interes?</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Tecnologia"><label>Tecnologia</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Beauty"><label>Beauty</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Vida Diaria"><label>Vida Diaria</label><br><br>
            <input type="checkbox" name="categoriasDeInteres" value="Limpieza"><label>Limpieza</label><br><br>
        
            <label>Seleccionar una imagen para el perfil:</label>
            <input type="file" name="fotoDePerfil" accept=".jpg"><br><br>
        
            <label for= contraceña>Ingrese su contraceña</label>
            <input type= "password" id=contraceña name="contraceña"><br><br>
        
            <label for= ConfirmarContraceña>Confirme su contraceña</label>
            <input type= "password" id=ConfirmarContraceña name="ConfirmarContraceña"><br><br>
        
            <button type="reset">Borrar Todo</button>
            <button type="submit">Enviar</button>
 </form>
        
