*{
    box-sizing: border-box;
}
body{
    font-family:'Work Sans', sans-serif ;
}
header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.logo {
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-right: 5px;
}

.sitio a{
    
    color:darkcyan;
    text-decoration: none;
    
}
.sitio{
    list-style: none;
    padding-right: 20px;
    display: flex;
}
.sitio div{
    padding-right: 10px;
}
.categorias{
    background-color: rgb(225, 234, 235);
    width: 100%;
    
}
.categorias nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.categorias nav div{
    padding: 10px;
}

.cartel-ofertas {
    background-color: rgba(247, 121, 18, 0.966);
    width: 100%;
    font-size: 48px;
    text-align: center;
}
.select-cat{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(225, 234, 235);
    margin: 0px;
}
.cat{
    width: 250px;
    padding: 8px;
    font-size: 14px;
    background-color: rgb(10, 20, 160);
    color: white;
    border-radius: 10px;
}

.ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}
.ofertas article{
    border: solid red 1px;
    
}
article{
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    text-align: left;
    padding: 8px;
       
}

@media (max-width:768px){
    .categorias{
        display: none;
    }
    .logo-barra{
        border: red 1px solid;
    }
}
@media (min-width:768px){
    .select-cat{
        display: none;
    }
}