*{
    box-sizing: border-box;
}

body{
    font-family:'Work Sans', sans-serif ;
}

header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-right: 5px;
}

.sitio a{
    color:darkcyan;
    text-decoration: none;
}

.sitio{
    list-style: none;
    padding-right: 20px;
    display: flex;
}

.sitio div{
    padding-right: 10px;
}

.categorias{
    background-color: rgb(225, 234, 235);
    width: 100%;
    border-radius: 5px;
}

.categorias nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.categorias nav div{
    padding: 10px;
}

.cartel-ofertas {
    background-color: rgba(35, 98, 182, 0.966);
    font-size: 45px;
    text-align: center;
    color: rgb(225, 234, 235);
    border-radius: 15px;
    width: 95%;
    margin: auto;
}

.cartel-destacados {
    background-color: rgba(35, 98, 182, 0.966);
    font-size: 30px;
    text-align: center;
    color: rgb(225, 234, 235);
    border-radius: 15px;
    width: 95%;
    margin: auto;
}

.select-cat{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(225, 234, 235);
    margin: 0px;
    border-radius: 5px;
}

.cat{
    width: 250px;
    padding: 8px;
    font-size: 14px;
    background-color: rgba(35, 98, 182, 0.966);
    color: white;
    border-radius: 10px;
}

.ofertas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5%;
}

.ofertas article{
    border: solid rgba(35, 98, 182, 0.966) 4px;
    border-radius: 15px;
}

article{
    margin-bottom: 10px;
    border-top: solid 1px #ebebeb;
    text-align: left;
    padding: 8px;
    margin: 5px;
}

.ofertas article a{
    text-decoration: none;
}

.datos-producto{
    color: rgba(35, 98, 182, 0.966);
}

.datos-producto i{
    display: block;
    text-align: right;
    margin-right: 10%;
}

.pd{
    display: flex;
    align-items: center;
}

.precio{
    margin-right: 5%;
    font-size: 28px;
}

.descripcion{
    color: black;
}

.carrito{
    background-color: rgba(35, 98, 182, 0.966);
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    display: block;
    text-align: center;
}

/* FOOTER inicio */

footer section {
    background-color: rgba(35, 98, 182, 0.966);
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    display: flex;
    text-align: center;
    
}

.copyright{
    text-align: left;
    color:gray;
    font-size:16px;
}

.textoLegales {
    color: gray;
    font-size: 10px;
}

footer section i {
    color:white;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    
}

/*FOOTER fin */

@media (max-width:768px){
    .categorias{
        display: none;
    }
    
    .oferta3,
    .oferta4{
        display: none;
    }
    footer section{
        flex-wrap: wrap;
    }
}

@media (max-width:1080px){
    .oferta4{
        display:none;
    }
}

@media (min-width:768px){
    .select-cat{
        display: none;
    }
    
}