header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-right: 5px;
}

.nav-top {
    display: flex;
    justify-content: space-between;
}

.sitio a {
    color:rgba(35, 98, 182, 0.966);
    text-decoration: none;
    margin-right: 2px;
}

.sitio a i {
    color: rgb(102, 99, 99);
}

.sitio {
    list-style: none;
    padding-right: 20px;
    display: flex;
}

.sitio div {
    padding-right: 10px;
}

body {
    display: block;
    align-items: center;
    font-family:'Work Sans', sans-serif;
}

.container {
    text-align: center;
    align-items: center;
    margin: auto;
    border:rgba(35, 98, 182, 0.966) 5px solid;
    padding: 20px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.enter-button {
    padding: 5px 15px;    
}

.titulo-login {
    color: #FFF;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.titulo-login {
    text-align: center;
    background-color: rgba(35, 98, 182, 0.966);
    padding: 10px;
    margin-bottom: 0px;
}

.email,
.text {
    color: rgba(35, 98, 182, 0.966);
    text-decoration: none;
}

.barras {
    padding: 2px 8px;
    border-radius: 5px;
    opacity: 60%;
    font-style: italic;
}

section {
    margin-right: 20%;
    margin-left: 20%;
}


/* ===== MEDIA QUERY ===== */

@media (max-width:768px){

    header {
        display: flex;
        justify-content: space-around;
    }

    header .search-form input {
        width: auto;
    }
}

@media (min-width:768px){
    .select-cat{
        display: none;
    }

    .search-form input {
        width: auto;
    }
}

@media (min-width:1080px){

    .search-form input {
        width: 500px;
    }

    header {
        display: flex;
        justify-content: space-around;
    }
}