header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}
.logo {
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-right: 5px;
}
.sitio a{
    
    color:darkcyan;
    text-decoration: none;
    
}
.sitio{
    list-style: none;
    padding-right: 20px;
    display: flex;
}
.sitio div{
    padding-right: 10px;
}
body{
    display: block;
    align-items: center;
    font-family:'Work Sans', sans-serif ;
        
}
.container{
    text-align: center;
    align-items: center;
    margin: auto;
    border:rgba(35, 98, 182, 0.966) 5px solid;
    padding: 20px;
        
}
.enter-button{
    padding: 5px 15px;    
}
h3{
    text-align: center;
    background-color: rgba(35, 98, 182, 0.966);
    padding: 10px;
    margin-bottom: 0px;
    
}
.email,
.text{
    color: darkcyan;
    text-decoration: none;
}

.barras{
    padding: 2px;
    border-radius: 10px;
    
}
section{
    margin-right: 20%;
    margin-left: 20%;
}
::placeholder{
    padding: 10px;
    opacity: 60%;
    font-style: italic;
}