*{
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}
.logo {
    width: 150px;
    height: 150px;
    padding-left: 10px;
    padding-right: 5px;
}
.sitio a{
    
    color:darkcyan;
    text-decoration: none;
    
}
.sitio{
    list-style: none;
    padding-right: 20px;
    display: flex;
}
.sitio div{
    padding-right: 10px;
}
.categorias{
    background-color: rgb(225, 234, 235);
    width: 100%;
    
}
.categorias nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.categorias nav div{
    padding: 10px;
}
.select-cat{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(225, 234, 235);
    margin: 0px;
}
.cat{
    width: 250px;
    padding: 8px;
    font-size: 14px;
    background-color: rgba(35, 98, 182, 0.966);
    color: white;
    border-radius: 10px;
}
body{
    font-family:'Work Sans', sans-serif ;
    
}
article{
    width: 90%;
    border: rgba(35, 98, 182, 0.966) solid 4px;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    padding: 2%;
}
.descripcion ul li{
    width: 100%;
    
}
.producto,
h3{
    color: rgba(35, 98, 182, 0.966) ;
    font-size: 20px;
    font-weight: bold;
} 
  
.descripcion{
    background-color: rgb(225, 234, 235);
    padding: 2%;
    border-radius: 10px;
    margin: 0%;
}
.precio{
    color:rgba(35, 98, 182, 0.966) ;
    font-size: 28px;
    margin: 20px;
}
.medios-pago,
.envio{
    color: darkcyan;
    margin-bottom: 5px;
    padding: 5px 5px 0px 15px;
}
.carrito{
    background-color: rgba(35, 98, 182, 0.966);
    padding: 10px 30px;
    margin: 10px 0 0 30px;
    border-radius: 8px;
    color: white;
}
@media (max-width:768px){
    .producto{
        display: none;
    }
    .categorias{
        display: none;
    }
}
@media(min-width:768px){
    .datos{
        display: flex;
    }
    h3{
        display: none;
    }
    .select-cat{
        display: none;
    }
    
}