<!DOCTYPE html>
<html lang="en"></html>
<head>
    <%- include ('./partials/head') %>
    
<title>Lumiere</title>
</head>
<body>
    <%- include ('./partials/header') %>
    <img src="/img/banner_electrodomesticos.png" width="100%">
     <main>
        <section class="categorias">
             <nav>
                <div>Tv,video y audio</div>
                <div>Tecnologia y celulares</div>
                <div>Climatizaci칩n</div>
                <div>Electrohogar</div>
                <div>Cuidado Personal</div>
             </nav>
        </section>
        <form action="/resultado.html" method="post">
            <div class="select-cat">
                <select name="mes" id="mes" class="cat">
                    <option value="1">CATEGORIAS</option>
                    <option value="2">TV, Audio y Video</option>
                    <option value="3">Tecnologia y celulares</option>
                    <option value="4">Climatizaci칩n</option>
                    <option value="5">Electrohogar</option>
                    <option value="6">Cuidado Personal</option>
                    
                </select>
            </div>
        </form>
        <div class="cartel-ofertas"><h2>OFERTAS</h2></div>
    <section class = "ofertas">
        <article class="oferta1"> 
            <a href="/productdetail">
                <div><img src='\img\SecadorOferta.jpg' alt = 'Imagen-de-secador' width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$8.500</p>
                    <p class = "descuentos">20% OFF</p>
                </div>
            
                <div class = "descripcion">SECADOR DE PELO TEKNIKPRO Con nano Turmaline</div>
                 </div>
            </a>
            
        </article>
        <article class="oferta2">
            <a href="#">
                <div><img src='\img\DifusorOferta.jpg' alt = 'Imagen-de-difusor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$3.500</p>
                    <p class = "descuentos">45% OFF</p>
                </div>
                <div class = "descripcion">Difusor Ultrasonico 300ml GADNIC</div>
                </div>
            </a>
       </article>
       <article class="oferta3">
            <a href="#">
                <div><img src='\img\AspiradoraOferta.jpg' alt = 'Imagen-de-aspiradora-electrolux'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$25.500</p>
                    <p class = "descuentos">15% off</p>
                </div>
                <div class = "descripcion">Aspiradora Inal치mbrica Electrolux 2 en 1 120W ERG26 </div>
                </div>
            </a>
       </article>
       <article class="oferta4">
            <a href="#">
                <div><img src='\img\TelevisorOferta.jpg' alt = 'Imagen-de-televisor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$23.200</p>
                    <p class = "descuentos">5% off</p>
                </div>
            </div>
            <div class = "descripcion">Smart TV Samsung Series 7 UN50TU7000GCZB LED 4K 50" 220V - 240V</div>
        </div>
            </a>
       </article>
    </section>
    <div class="cartel-destacados"><h2>DESTACADOS</h2></div>
    <section class = "ofertas">
        <article class="oferta1"> 
            <a href="/productdetail">
                <div><img src='\img\SecadorOferta.jpg' alt = 'Imagen-de-secador' width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$8.500</p>
                    <p class = "descuentos">20% OFF</p>
                </div>
            
                <div class = "descripcion">SECADOR DE PELO TEKNIKPRO Con nano Turmaline</div>
                 </div>
            </a>
            
        </article>
        <article class="oferta2">
            <a href="#">
                <div><img src='\img\DifusorOferta.jpg' alt = 'Imagen-de-difusor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$3.500</p>
                    <p class = "descuentos">45% OFF</p>
                </div>
                <div class = "descripcion">Difusor Ultrasonico 300ml GADNIC</div>
                </div>
            </a>
       </article>
       <article class="oferta3">
            <a href="#">
                <div><img src='\img\AspiradoraOferta.jpg' alt = 'Imagen-de-aspiradora-electrolux'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$25.500</p>
                    <p class = "descuentos">15% off</p>
                </div>
                <div class = "descripcion">Aspiradora Inal치mbrica Electrolux 2 en 1 120W ERG26 </div>
                </div>
            </a>
       </article>
       <article class="oferta4">
            <a href="#">
                <div><img src='\img\TelevisorOferta.jpg' alt = 'Imagen-de-televisor'  width="100%"></div>
                <div class="datos-producto">
                <i class='fas fa-truck'></i>
                <div class="pd">
                    <p class = "precio">$23.200</p>
                    <p class = "descuentos">5% off</p>
                </div>
            </div>
            <div class = "descripcion">Smart TV Samsung Series 7 UN50TU7000GCZB LED 4K 50" 220V - 240V</div>
        </div>
            </a>
       </article>
    </section>
    </main>
</body>
<%- include ('./partials/footer') %>