<!DOCTYE html>
<html lang="en"></html>
<head>
    <link href='/css/estilos.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/app.css">;
    <%- include ('./partials/head') %>
<title>Lumiere</title>
</head>
<body>
    <%- include ('./partials/header') %>
    <img src="/img/banner_electrodomesticos.png" width="100%">
     <main>
        <section class="categorias">
             <nav>
                 <a href="/products"><div class="boton-allproducts">Todos los productos</div></a>
                
                <div>Tecnologia y celulares</div>
                <div>Climatizaci칩n</div>
                <div>Electrohogar</div>
                <div>Cuidado Personal</div>
             </nav>
        </section>
        <form action="/resultado.html" method="post">
            <div class="select-cat">
                <select name="mes" id="mes" class="cat">
                    <option value="1">CATEGORIAS</option>
                    <option value="2">TV, Audio y Video</option>
                    <option value="3">Tecnologia y celulares</option>
                    <option value="4">Climatizaci칩n</option>
                    <option value="5">Electrohogar</option>
                    <option value="6">Cuidado Personal</option>
                </select>
            </div>
        </form>
        <div class="cartel-ofertas"><h2>OFERTAS</h2></div>
    <section class = "ofertas">
        <article class="oferta1"> 
            <a href="/products/1">
                <div><img src='/img/products/SecadorOferta.jpg' alt = 'Imagen-de-secador' width="100%"></div>
                <div class="datos-producto">
                
                <div class="pd">
                   
                    <p class = "precio">$8.500</p>
                    <p class = "descuentos">20% OFF</p> 
                    <i class='fas fa-truck'></i>
                </div>
                <div class = "descripcion">SECADOR DE PELO TEKNIKPRO Con nano Turmaline</div>
                 </div>
            </a>
        </article>
        <article class="oferta2">
            <a href="/products/2">
                <div><img src='/img/products/DifusorOferta.jpg' alt = 'Imagen-de-difusor'  width="100%"></div>
                <div class="datos-producto">
                <div class="pd">
                    <p class = "precio">$3.500</p>
                    <p class = "descuentos">45% OFF</p>
                    <i class='fas fa-truck'></i>
                </div>
                <div class = "descripcion">Difusor Ultrasonico 300ml GADNIC</div>
                </div>
            </a>
       </article>
       <article class="oferta3">
            <a href="/products/3">
                <div><img src='/img/products/AspiradoraOferta.jpg' alt = 'Imagen-de-aspiradora-electrolux'  width="100%"></div>
                <div class="datos-producto">
                <div class="pd">
                    <p class = "precio">$25.500</p>
                    <p class = "descuentos">15% OFF</p>
                    <i class='fas fa-truck'></i>
                </div>
                <div class = "descripcion">Aspiradora Inal치mbrica Electrolux 2 en 1 120W ERG26 </div>
                </div>
            </a>
       </article>
       <article class="oferta4">
            <a href="/products/4">
                <div><img src='/img/products/TelevisorOferta.jpg' alt = 'Imagen-de-televisor'  width="100%"></div>
                <div class="datos-producto">
                <div class="pd">
                    <p class = "precio">$23.200</p>
                    <p class = "descuentos">5% OFF</p>
                    <i class='fas fa-truck'></i>
                </div>
            </div>
            <div class = "descripcion">Smart TV Samsung Series 7 LED 4K 50" 220V - 240V</div>
        </div>
            </a>
       </article>
    </section>
    <div class="cartel-destacados"><h2>DESTACADOS</h2></div>
    <section class = "ofertas">
        <article class="oferta1"> 
            <a href="/products/5">
                <div><img src='/img/products/LavaropasDestacado.jpg' alt = 'Imagen-de-Lavasecarropas' width="100%"></div>
                <div class="datos-producto">
                <div class="pd">
                    <p class = "precio">$98.499</p>
                    <p class = "descuentos">10% OFF</p>
                    <i class='fas fa-truck'></i>
                </div>
            
                <div class = "descripcion">Lavasecarropas autom치tico Whirlpool WCF09BY inverter</div>
                 </div>
            </a>
        </article>
        <article class="oferta2">
            <a href="/products/6">
                <div><img src='/img/products/LicuadoraDestacado.jpg' alt = 'Imagen-de-Licuadora'  width="100%"></div>
                <div class="datos-producto">
                <div class="pd">
                    <p class = "precio">$ 9.800</p>
                    <p class = "descuentos">20% OFF</p>
                    <i class='fas fa-truck'></i>
                </div>
                <div class = "descripcion">Licuadora Peabody PE-LN800 1.5 L roja con jarra de vidrio 220V</div>
                </div>
            </a>
       </article>
       <article class="oferta3">
            <a href="/products/7">
                <div><img src='/img/products/JuegoDeJardinDestacado.jpg' alt = 'Imagen-de-Juego-de.jardin'  width="100%"></div>
                <div class="datos-producto">
                <div class="pd">
                    <p class = "precio">$24.550</p>
                    <p class = "descuentos">15% OFF</p>
                    <i class='fas fa-truck'></i>
                </div>
                <div class = "descripcion">Combo 4 Sillas Kansas 1 Mesa Redonda Negra Mascardi </div>
                </div>
            </a>
       </article>
       <article class="oferta4">
            <a href="/products/8">
                <div><img src='/img/products/PlayStation5Destacado.jpg' alt = 'Imagen-de-Play5'  width="100%"></div>
                <div class="datos-producto">
                <div class="pd">
                    <p class = "precio">$ 249.999</p>
                    <p class = "descuentos">5% OFF</p>
                    <i class='fas fa-truck'></i>
                </div>
            </div>
            <div class = "descripcion">Sony PlayStation 5 825GB Standard color blanco y negro</div>
            </div>
            </a>
       </article>
    </section>
    </main>
</body>
<%- include ('./partials/footer') %>