<footer>
    <section>
        <article>
        <div class="icono"><i class="fas fa-credit-card"></i></div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p class = "footer-pagos">En la tienda online de Lumiere tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <div class="icono"><i class="fas fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.000</h3>
            <p class = "footer-envio">Solo por estar registrad@ en Lumiere tenés envíos gratis en miles de 
                productos. Es un beneficio de los puntos L.</p>
        </article>
        <article>
            <div class="icono"><i class="fas fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p class = "footer-seguridad">¿No te gusta? ¡Devolvelo! En Lumiere, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>
    </section>
    <h4 class = "textoLegales">Las fotos son a modo ilustrativo. La venta de cualquiera de los productos publicados está sujeta a la verificación de stock. Los precios online y los planes de financiación para los productos presentados/publicados en www.lumiere.com son válidos exclusivamente para la compra vía internet en la página antes mencionada. Las especificaciones técnicas y descripciones están sujetas a cambios sin previo aviso.
    </h4> 
    <h3 class = "copyright">Copyright © 1999-2020 Lumiere S.R.L.</h3>
</footer>