<header>
    <div class="logo">
        <a href="/"><img class="logo" src="\img\Logo-Lumiere.jpg" alt="logo"></a>
    </div>
    <div class="search-form">
        <form action="#" method="GET">
           <input type="text" name="search" placeholder="Buscar productos, marcas y más...">
           <i class="fa fa-search"></i>
         </form>
   </div>
    <div>
        <nav>
            <ul class="sitio">
                <div><li><a href='/login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li></div>
                <div><li><a href='/registrate'>Registrate <i class="far fa-id-card"></i></a></li></div>
                <div><li><a href='/productcart'>Carrito<i class="fas fa-shopping-cart"></i></a></li></div>
            </ul>
        </nav>
    </div>
</header>




<!--<div class="topnav">
    <input type="text" placeholder="Buscar productos, marcas"> <i class="fas fa-search"></i>
</div>-->