<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/newUser.css">;
    <%- include ('../partials/head') %>
    
    <title>Bienvenido/a</title>
</head>
<%- include ('../partials/header') %>


<body>
<article class="PromoChancha">
    <h1 class="regaloLumiere">Gracias por registrarte en Lumiere. Como nos gusta mucho que te hayas unido a nosotros decidimos regalarte este cup칩n que vale por una METROCHANCHA</h1>
<section class="contenedorPromo">
    <img class="bannerPromo" src="\img\METROCHANCHA.jpg">
    <div class="qrCode">
        <img src="https://www.codigos-qr.com/qr/php/qr_img.php?d=https%3A%2F%2Fgo.waitry.net%2Forder%2F170%2Fcontainer%2F7C9BD&s=10&e=q" alt="Generador de C칩digos QR Codes"/>
        <br/><a href="https://www.codigos-qr.com/en/qr-code-generator/" target="_blank">Escane치 y reclam치 tu promo post examen(?</a>
    </div>
    
</section>     
</article>
</body>	
<!-- FOOTER -->
<%- include ('../partials/footer') %>
</html>