<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="css/registrate.css">
    <title>Registrate</title>
</head>
    <%- include ('../partials/header') %>
<img src="/img/banner_electrodomesticos.png" width="100%">
<body>
    <section>
    <h3 class="titulo-registro">¡Ingrese sus datos para registrarse y comenzar a comprar!</h3>
        <div class="cont-formulario">
            <form action= "/" method="post">
                <div><label for= email></label></div>
                <div><input class="barra" type= "email" id=email name="email" placeholder="Email"></div><br>
    
                <div><label for= nombre-completo></label></div>
                <div><input class="barra" type= "text" id=nombre-completo name="nombre-completo" placeholder="Nombre completo"></div><br>
            
                <div><label for= usuario></label></div>
                <div><input class="barra" type= "text" id=usuario name="usuario" placeholder="Usuario"></div><br>

                <div><label>Fecha de nacimiento:</label></div>
                <div><input class="barra" type= "date" id=fecha name="Fecha-De-Nacimiento" ></div><br>
            
                <div><label for= domicilio></label></div>
                <div><input class="barra" type= "text" id=domicilio name="domicilio" placeholder="Domicilio"></div><br>
                
                <div><label>¿Cuales son sus categorias de interes?</label></div><br>
                <div class="contenedor-chek">
                    <div class="chek">
                        <input type="checkbox" name="categoriasDeInteres" value="TV, Audio y Video"><label>TV, Audio y Video</label><br>
                        <input type="checkbox" name="categoriasDeInteres" value="Tecnologia y celulares"><label>Tecnologia y celulares</label><br>
                        <input type="checkbox" name="categoriasDeInteres" value="Climatización"><label>Climatización</label><br>
                        <input type="checkbox" name="categoriasDeInteres" value="Electrohogar"><label>Electrohogar</label><br>
                        <input type="checkbox" name="categoriasDeInteres" value="Cuidado Personal"><label>Cuidado Personal</label><br>
                    </div>
                </div><br>
                        
                <div><label for= contraceña></label></div>
                <div><input class="barra" type= "password" id=contraceña name="contraceña" placeholder="Contraseña"></div><br>
            
                <div><label for= ConfirmarContraceña></label></div>
                <div><input class="barra" type= "password" id=ConfirmarContraceña name="ConfirmarContraceña" placeholder="Confirmar contraseña"></div><br>
            
                <div>
                    <button class="botones" type="reset">Borrar Todo</button>
                    <button class="botones" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        
    </section>
</body>
</html>
<%- include ('../partials/footer') %>       
